.input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  position: relative;
  outline: none;
}
.input:focus {
  border: none;
  border-bottom: 1px solid #2c84a7;
}
